In [1]:
# Ruta al archivo
ruta_archivo = r"C:\Users\USUARIO\OneDrive - Secretaria de Educacion del Distrito\Escritorio\SOYhENRY\my_recommendation_project\DATA\credits.csv"

# Leer el archivo
with open(ruta_archivo, 'r', encoding='utf-8') as file:
    contenido = file.read()

# Reemplazar caracteres inusuales
contenido = contenido.replace('\u2028', '\n')  # Reemplazar LS con LF
contenido = contenido.replace('\u2029', '\n')  # Reemplazar PS con LF

# Guardar el archivo limpio
with open(ruta_archivo, 'w', encoding='utf-8') as file:
    file.write(contenido)

print("Archivo limpiado y guardado correctamente.")

Archivo limpiado y guardado correctamente.

In [2]:
import pandas as pd

# Ruta al archivo
ruta_completa = r"C:\Users\USUARIO\OneDrive - Secretaria de Educacion del Distrito\Escritorio\SOYhENRY\my_recommendation_project\DATA\credits.csv"

# Especificar que la columna 10 (overview) sea de tipo string
df = pd.read_csv(ruta_completa, dtype={10: str})

# Verificar el tipo de dato de la columna "overview"
print(df.dtypes)

cast    object
crew    object
id       int64
dtype: object

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Mostrar primeras filas del DataFrame
print("\nInformación del DataFrame:")
df.head()

Información del DataFrame:

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [5]:
# Mostrar información del DataFrame
print("\nInformación del DataFrame:")
df.info()

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [2]:
# Ruta al archivo
ruta_cast_csv = r"C:\Users\USUARIO\OneDrive - Secretaria de Educacion del Distrito\Escritorio\SOYhENRY\my_recommendation_project\DATA\cast.csv"

# Cargar el archivo CSV en un DataFrame
df_cast = pd.read_csv(ruta_cast_csv)

# Mostrar las primeras filas del DataFrame
print(df_cast.head())

   movie_id  cast_id                character                 credit_id  \
0       862       14            Woody (voice)  52fe4284c3a36847f8024f95
1       862       15   Buzz Lightyear (voice)  52fe4284c3a36847f8024f99
2       862       16  Mr. Potato Head (voice)  52fe4284c3a36847f8024f9d
3       862       17       Slinky Dog (voice)  52fe4284c3a36847f8024fa1
4       862       18              Rex (voice)  52fe4284c3a36847f8024fa5

   gender     id           name  order
0       2     31      Tom Hanks      0
1       2  12898      Tim Allen      1
2       2   7167    Don Rickles      2
3       2  12899     Jim Varney      3
4       2  12900  Wallace Shawn      4

In [3]:
print(df_cast.head())

   movie_id  cast_id                character                 credit_id  \
0       862       14            Woody (voice)  52fe4284c3a36847f8024f95
1       862       15   Buzz Lightyear (voice)  52fe4284c3a36847f8024f99
2       862       16  Mr. Potato Head (voice)  52fe4284c3a36847f8024f9d
3       862       17       Slinky Dog (voice)  52fe4284c3a36847f8024fa1
4       862       18              Rex (voice)  52fe4284c3a36847f8024fa5

   gender     id           name  order
0       2     31      Tom Hanks      0
1       2  12898      Tim Allen      1
2       2   7167    Don Rickles      2
3       2  12899     Jim Varney      3
4       2  12900  Wallace Shawn      4

In [4]:
print(df_cast.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562505 entries, 0 to 562504
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movie_id   562505 non-null  int64
 1   cast_id    562505 non-null  int64
 2   character  536721 non-null  object
 3   credit_id  562505 non-null  object
 4   gender     562505 non-null  int64
 5   id         562505 non-null  int64
 6   name       562505 non-null  object
 7   order      562505 non-null  int64
dtypes: int64(5), object(3)
memory usage: 34.3+ MB
None

In [5]:
# Ruta al archivo
ruta_crew_csv = r"C:\Users\USUARIO\OneDrive - Secretaria de Educacion del Distrito\Escritorio\SOYhENRY\my_recommendation_project\DATA\crew.csv"

# Cargar el archivo CSV en un DataFrame
df_crew = pd.read_csv(ruta_crew_csv)

# Mostrar las primeras filas del DataFrame
print(df_crew.head())

   movie_id                 credit_id department  gender     id         job  \
0       862  52fe4284c3a36847f8024f49  Directing       2   7879    Director
1       862  52fe4284c3a36847f8024f4f    Writing       2  12891  Screenplay
2       862  52fe4284c3a36847f8024f55    Writing       2      7  Screenplay
3       862  52fe4284c3a36847f8024f5b    Writing       2  12892  Screenplay
4       862  52fe4284c3a36847f8024f61    Writing       0  12893  Screenplay

             name
0   John Lasseter
1     Joss Whedon
2  Andrew Stanton
3      Joel Cohen
4    Alec Sokolow

In [6]:
print(df_crew.head())

   movie_id                 credit_id department  gender     id         job  \
0       862  52fe4284c3a36847f8024f49  Directing       2   7879    Director
1       862  52fe4284c3a36847f8024f4f    Writing       2  12891  Screenplay
2       862  52fe4284c3a36847f8024f55    Writing       2      7  Screenplay
3       862  52fe4284c3a36847f8024f5b    Writing       2  12892  Screenplay
4       862  52fe4284c3a36847f8024f61    Writing       0  12893  Screenplay

             name
0   John Lasseter
1     Joss Whedon
2  Andrew Stanton
3      Joel Cohen
4    Alec Sokolow

In [7]:
print(df_crew.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464314 entries, 0 to 464313
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   movie_id    464314 non-null  int64
 1   credit_id   464314 non-null  object
 2   department  464314 non-null  object
 3   gender      464314 non-null  int64
 4   id          464314 non-null  int64
 5   job         464314 non-null  object
 6   name        464314 non-null  object
dtypes: int64(3), object(4)
memory usage: 24.8+ MB
None